
@{
    ViewBag.Title = "Test";
}

<h2>C#C Test</h2>
<h3>Tell us something about yourself in two sentences</h3>
<textarea name="bio"></textarea>
<h3>Answer the questions below</h3>
<h4>Q1: What is wrong with this code?</h4>